In [1]:
import pickle
with open('train.pkl',"rb") as fr:
    data = pickle.load(fr)
data

,Segment ID,sentiment_x,Temp,EDA,temp+eda,text_tokenize,mfcc_scaled,session,sess_num
0,Sess01_script01_User002M_001,0,"[34.81, 34.81, 34.81, 34.79, 34.79, 34.79, 34....","[2.856493, 2.788578, 2.678377, 2.652749, 2.645...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[8, 5, 7, 276, 35, 2, 13, 723, 22, 280, 13, 84...","[[0.36212430820312924, 0.5950855218071341, 0.6...",Sess01,1
1,Sess01_script01_User002M_002,0,"[34.79, 34.79, 34.79, 34.77, 34.77, 34.77, 34....","[2.647035, 2.653442, 2.631658, 2.614999, 2.623...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[137, 253, 31, 1042, 34, 845, 104, 1166, 979, ...","[[0.09967221317831643, 0.46074755225157077, 0....",Sess01,1
2,Sess01_script01_User002M_003,0,"[34.75, 34.75, 34.75, 34.75, 34.79, 34.79, 34....","[2.896217, 2.975664, 3.02692, 3.071769, 3.0922...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[7, 44, 99, 17, 49, 749, 82, 228, 6, 3, 2976, ...","[[0.5217207684902612, 0.7059450474628848, 0.63...",Sess01,1
3,Sess01_script01_User002M_004,0,"[34.77, 34.77, 34.77, 34.77, 34.77, 34.77, 34....","[3.689019, 3.692863, 3.659546, 3.409672, 3.123...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[99, 93, 35, 61, 262, 1, 723, 2179, 25, 2517, ...","[[0.013638213363584173, 0.4977522798008912, 0....",Sess01,1
4,Sess01_script01_User001F_001,0,"[34.55, 34.55, 34.55, 34.55, 34.55, 34.55, 34....","[4.412055, 4.536246, 4.630991, 4.669401, 4.661...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[15, 79, 16, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.1814917031611868, 0.5011223135638304, 0.14...",Sess01,1
...,...,...,...,...,...,...,...,...,...
12191,Sess39_script06_User077F_030,0,"[28.39, 28.39, 28.41, 28.41, 28.41, 28.41, 28....","[0.230654, 0.229372, 0.234498, 0.235779, 0.233...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[14, 8, 5, 3232, 156, 18, 5543, 107, 20, 2, 99...","[[0.09019999396883238, 0.3652676696305185, 0.4...",Sess39,39
12192,Sess39_script06_User077F_031,0,"[28.39, 28.39, 28.39, 28.39, 28.39, 28.39, 28....","[0.237061, 0.234498, 0.235779, 0.238342, 0.238...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[80, 80, 386, 10, 131, 107, 371, 20, 2, 14786,...","[[0.015582256935751881, 0.576354875568196, 0.7...",Sess39,39
12193,Sess39_script06_User077F_032,0,"[28.39, 28.39, 28.37, 28.37, 28.37, 28.37, 28....","[0.237061, 0.234498, 0.237061, 0.237061, 0.235...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[204, 402, 1, 3170, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.0010828634315697139, 0.5215032886653614, 0...",Sess39,39
12194,Sess39_script06_User077F_033,0,"[28.39, 28.39, 28.37, 28.37, 28.37, 28.37, 28....","[0.239623, 0.233216, 0.238342, 0.237061, 0.238...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[68, 3170, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.0, 0.47204898461158995, 0.8589987646609795...",Sess39,39
12195,Sess39_script06_User077F_034,0,"[28.39, 28.39, 28.37, 28.37, 28.37, 28.37, 28....","[0.238342, 0.237061, 0.240905, 0.240905, 0.237...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[7, 19, 27, 95, 11, 327, 156, 28, 115, 2, 2212...","[[0.04812742822958649, 0.5400174433892021, 0.8...",Sess39,39

In [3]:
# 임의의 8개 세션 미리 추출
import pickle
with open('test.pkl',"rb") as fr:
    data_test = pickle.load(fr)
data_test

,Segment ID,sentiment_x,Temp,EDA,temp+eda,text_tokenize,mfcc_scaled
2230,Sess08_script01_User015F_001,1,"[33.07, 33.09, 33.09, 33.09, 33.09, 33.09, 33....","[3.239397, 3.234272, 3.229146, 3.243241, 3.245...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[8, 72, 14, 166, 733, 26, 21, 37, 733, 50, 16,...","[[0.0, 0.37972227268282244, 0.8198979194967001..."
2231,Sess08_script01_User016F_001,0,"[33.31, 33.31, 33.31, 33.31, 33.31, 33.31, 33....","[4.143951, 4.138826, 4.134982, 4.131138, 4.128...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[8, 488, 926, 50, 85, 3902, 0, 0, 0, 0, 0, 0, ...","[[0.0, 0.5751133741423142, 0.7879647360973706,..."
2232,Sess08_script01_User015F_002,0,"[33.07, 33.07, 33.05, 33.05, 33.05, 33.05, 33....","[3.453379, 3.458504, 3.450816, 3.448254, 3.443...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[14, 11, 2367, 4, 786, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.3555334572333074, 0.6510807576689936, 0.80..."
2233,Sess08_script01_User016F_002,0,"[33.27, 33.27, 33.25, 33.25, 33.25, 33.25, 33....","[4.079888, 4.072201, 4.045294, 4.041451, 4.023...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[87, 251, 28, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0.0, 0.5211673046270286, 0.5221022623447374,..."
2234,Sess08_script01_User015F_003,1,"[33.03, 33.03, 33.03, 33.03, 33.03, 33.03, 33....","[3.438003, 3.445691, 3.480287, 3.523852, 3.548...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[3, 139, 1703, 104, 11, 583, 105, 72, 223, 119...","[[0.2308842054093153, 0.785980178750852, 0.827..."
...,...,...,...,...,...,...,...
12688,Sess40_script06_User079F_043,0,"[35.07, 35.07, 35.07, 35.07, 35.05, 35.05, 35....","[1.194537, 1.171473, 1.150971, 1.129189, 1.106...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[96, 11, 65, 42, 258, 14989, 2, 240, 684, 2, 2...","[[0.0, 0.44890249617394556, 0.4151811098070448..."
12689,Sess40_script06_User079F_044,0,"[35.05, 35.05, 35.07, 35.07, 35.07, 35.07, 35....","[0.929301, 0.922894, 0.917769, 0.916488, 0.912...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[3, 504, 494, 3, 4030, 800, 298, 0, 0, 0, 0, 0...","[[0.2285113780573238, 0.779642897290782, 0.457..."
12690,Sess40_script06_User079F_045,0,"[35.05, 35.05, 35.05, 35.05, 35.05, 35.05, 35....","[0.888298, 0.88061, 0.878048, 0.875485, 0.8742...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[14, 65, 58, 14990, 164, 33, 1346, 2438, 11, 2...","[[0.0, 0.3924988321574137, 0.6015662496016466,..."
12691,Sess40_script06_User079F_046,0,"[35.05, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[0.83192, 0.825513, 0.821669, 0.82295, 0.81910...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[307, 20, 1533, 17, 1432, 63, 27, 1, 74, 47, 0...","[[0.0, 0.404710343900125, 0.6941450242437002, ..."
12692,Sess40_script06_User079F_047,0,"[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[0.797324, 0.794761, 0.796043, 0.794761, 0.792...","[35.07, 35.07, 35.07, 35.07, 35.07, 35.07, 35....","[94, 20, 628, 12, 6064, 51, 219, 2990, 374, 0,...","[[0.07021882960247872, 0.2635582968035488, 0.6..."

In [4]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow import nn
import pandas as pd
import numpy as np

In [5]:
from imblearn.over_sampling import SMOTE
from scipy.stats import zscore
from sklearn.preprocessing import StandardScaler

## DATA augmentation

In [6]:
data = data[['sentiment_x', 'Temp']]

In [7]:
data.head()

   sentiment_x                                               Temp
0            0  [34.81, 34.81, 34.81, 34.79, 34.79, 34.79, 34....
1            0  [34.79, 34.79, 34.79, 34.77, 34.77, 34.77, 34....
2            0  [34.75, 34.75, 34.75, 34.75, 34.79, 34.79, 34....
3            0  [34.77, 34.77, 34.77, 34.77, 34.77, 34.77, 34....
4            0  [34.55, 34.55, 34.55, 34.55, 34.55, 34.55, 34....

In [8]:
list_col = data['Temp']
list_col_array = np.array(list_col.tolist())
temp_new = pd.DataFrame(list_col_array, columns=[f'col{i+1}' for i in range(list_col_array.shape[1])])

In [9]:
temp_new

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col71,col72,col73,col74,col75,col76,col77,col78,col79,col80
0,34.81,34.81,34.81,34.79,34.79,34.79,34.79,34.81,34.81,34.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34.79,34.79,34.79,34.77,34.77,34.77,34.77,34.79,34.79,34.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34.75,34.75,34.75,34.75,34.79,34.79,34.79,34.79,34.77,34.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.53,34.53,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,28.39,28.39,28.41,28.41,28.41,28.41,28.37,28.37,28.37,28.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10122,28.39,28.39,28.39,28.39,28.39,28.39,28.39,28.41,28.41,28.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10123,28.39,28.39,28.37,28.37,28.37,28.37,28.37,28.37,28.37,28.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10124,28.39,28.39,28.37,28.37,28.37,28.37,28.41,28.41,28.41,28.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10125,28.39,28.39,28.37,28.37,28.37,28.37,28.37,28.37,28.37,28.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
result = pd.concat([temp_new, data['sentiment_x']], axis=1)

In [11]:
result

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
0,34.81,34.81,34.81,34.79,34.79,34.79,34.79,34.81,34.81,34.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34.79,34.79,34.79,34.77,34.77,34.77,34.77,34.79,34.79,34.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34.75,34.75,34.75,34.75,34.79,34.79,34.79,34.79,34.77,34.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.53,34.53,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [12]:
result = result.apply(pd.to_numeric, errors='coerce')
result = result.dropna()

In [13]:
value_counts = result['sentiment_x'].value_counts()
print(value_counts)

0.0    7416
1.0     998
2.0     154
3.0     140
4.0     139
5.0      80
6.0      40
Name: sentiment_x, dtype: int64

In [14]:
result

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
0,34.81,34.81,34.81,34.79,34.79,34.79,34.79,34.81,34.81,34.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,34.79,34.79,34.79,34.77,34.77,34.77,34.77,34.79,34.79,34.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34.75,34.75,34.75,34.75,34.79,34.79,34.79,34.79,34.77,34.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,34.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.53,34.53,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10121,28.39,28.39,28.41,28.41,28.41,28.41,28.37,28.37,28.37,28.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10122,28.39,28.39,28.39,28.39,28.39,28.39,28.39,28.41,28.41,28.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10123,28.39,28.39,28.37,28.37,28.37,28.37,28.37,28.37,28.37,28.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10124,28.39,28.39,28.37,28.37,28.37,28.37,28.41,28.41,28.41,28.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10125,28.39,28.39,28.37,28.37,28.37,28.37,28.37,28.37,28.37,28.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Train,Valid data set 나누기

In [15]:
n_samples = result.shape[0]
n_group1 = int(n_samples * 0.875)
n_group2 = n_samples - n_group1

group1 = result.sample(n=n_group1)
group2 = result.drop(group1.index).sample(n=n_group2)

In [16]:
print(group1.shape)  
print(group2.shape)

(7846, 81)
(1121, 81)

In [17]:
selected_zero = group1[group1['sentiment_x'].isin([0])]

In [21]:
# rain data set 안에 감정 상태 : 중립
selected_zero

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
7297,28.37,28.37,28.37,28.39,28.39,28.39,28.39,28.41,28.41,28.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
548,35.63,35.63,35.63,35.63,35.63,35.63,35.63,35.63,35.65,35.65,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2832,34.16,34.16,34.16,34.16,34.16,34.16,34.16,34.16,34.16,34.18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
963,32.59,32.59,32.59,32.59,32.59,32.59,32.59,32.57,32.57,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
298,34.37,34.37,34.34,34.34,34.34,34.34,34.34,34.34,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9186,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.55,34.55,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10079,28.21,28.21,28.21,28.21,28.21,28.21,28.23,28.23,28.23,28.23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6278,28.69,28.67,28.67,28.67,28.67,28.69,28.69,28.69,28.69,28.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6282,28.67,28.67,28.67,28.69,28.69,28.69,28.69,28.69,28.69,28.69,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4425,33.21,33.16,33.16,33.16,33.16,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# Train data set 안에 중립을 제외한 감정
selected_rows = group1[group1['sentiment_x'].isin([1,2,3,4,5,6])]

In [23]:
n_samples = 3500
selected_zero_sample = selected_zero.sample(n=n_samples)

In [24]:
# 중립 감정 3500개 랜덤 추출
selected_zero_sample

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col72,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x
5736,31.33,31.33,31.33,31.33,31.33,31.33,31.33,31.33,31.33,31.33,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1964,33.37,33.37,33.37,33.37,33.37,33.37,33.37,33.37,33.37,33.37,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6423,31.99,31.99,31.99,31.99,31.99,31.99,31.99,31.99,31.99,31.99,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
149,34.45,34.45,34.45,34.43,34.43,34.43,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8070,33.43,33.43,33.43,33.43,33.43,33.43,33.41,33.41,33.41,33.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3891,34.25,34.25,34.25,34.25,34.25,34.23,34.23,34.23,34.23,34.23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4932,29.87,29.87,29.87,29.87,29.87,29.87,29.87,29.87,29.87,29.87,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2848,30.87,30.87,30.87,30.89,30.89,30.89,30.89,30.89,30.89,30.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4481,32.61,32.61,32.61,32.61,32.61,32.61,32.61,32.57,32.57,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1253,34.16,34.16,34.16,34.16,34.16,34.16,34.16,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 중립이 아닌 감정 증강

In [25]:
selected_rows = selected_rows.astype('float64')

In [27]:
X = selected_rows.drop(['sentiment_x'], axis=1).values
y = selected_rows['sentiment_x'].values

In [28]:
smote = SMOTE(sampling_strategy={1:3500,2: 3500, 3: 3500, 4: 3500, 5: 3500, 6: 3500},random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y)

C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 1 will be larger than the number of samples in the majority class (class #1.0 -> 862)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 2 will be larger than the number of samples in the majority class (class #1.0 -> 862)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 3 will be larger than the number of samples in the majority class (class #1.0 -> 862)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 4 will be larger than the number of samples in the majority class (class #1.0 -> 862)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 5 will be larger than the number of samples in the majority class (class #1.0 -> 862)
  warnings.warn(
C:\Users\pc\anaconda3\lib\site-packages\imblearn\utils\_validation.py:313: UserWarning: After over-sampling, the number of samples (3500) in class 6 will be larger than the number of samples in the majority class (class #1.0 -> 862)
  warnings.warn(

In [29]:
X_resampled

array([[33.79      , 33.79      , 33.79      , ...,  0.        ,
         0.        ,  0.        ],
       [33.71      , 33.71      , 33.71      , ...,  0.        ,
         0.        ,  0.        ],
       [35.09      , 35.09      , 35.09      , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [32.67405338, 32.67405338, 32.68131166, ...,  0.        ,
         0.        ,  0.        ],
       [30.15356901, 30.15356901, 30.15559565, ...,  0.        ,
         0.        ,  0.        ],
       [33.91328702, 33.91328702, 33.91328702, ...,  0.        ,
         0.        ,  0.        ]])

In [30]:
y_resampled_df = pd.DataFrame(y_resampled, columns=['sentiment_x'])

In [31]:
df = pd.DataFrame(np.zeros((1, 80)), columns=['col'+str(i) for i in range(1, 81)])

In [32]:
X_resampled_df = pd.DataFrame(X_resampled, columns=df.columns)

In [36]:
X_resampled_df.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col71,col72,col73,col74,col75,col76,col77,col78,col79,col80
0,33.79,33.79,33.79,33.77,33.77,33.77,33.77,33.77,33.77,33.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,33.71,33.71,33.71,33.71,33.73,33.73,33.73,33.73,33.73,33.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,35.09,35.09,35.09,35.09,35.09,35.09,35.07,35.07,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,31.51,31.51,31.51,31.51,31.47,31.47,31.47,31.47,31.47,31.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,33.03,33.03,33.03,33.03,33.05,33.05,33.05,33.05,33.05,33.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
data_augmented = pd.concat([X_resampled_df, y_resampled_df], axis=1)

In [54]:
data_augmented = pd.concat([data_augmented, selected_zero_sample ], axis=0)

In [56]:
data_augmented

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x,Temp
0,33.79,33.79,33.79,33.77,33.77,33.77,33.77,33.77,33.77,33.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[33.79, 33.79, 33.79, 33.77, 33.77, 33.77, 33...."
1,33.71,33.71,33.71,33.71,33.73,33.73,33.73,33.73,33.73,33.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,"[33.71, 33.71, 33.71, 33.71, 33.73, 33.73, 33...."
2,35.09,35.09,35.09,35.09,35.09,35.09,35.07,35.07,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,"[35.09, 35.09, 35.09, 35.09, 35.09, 35.09, 35...."
3,31.51,31.51,31.51,31.51,31.47,31.47,31.47,31.47,31.47,31.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"[31.51, 31.51, 31.51, 31.51, 31.47, 31.47, 31...."
4,33.03,33.03,33.03,33.03,33.05,33.05,33.05,33.05,33.05,33.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[33.03, 33.03, 33.03, 33.03, 33.05, 33.05, 33...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3891,34.25,34.25,34.25,34.25,34.25,34.23,34.23,34.23,34.23,34.23,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4932,29.87,29.87,29.87,29.87,29.87,29.87,29.87,29.87,29.87,29.87,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2848,30.87,30.87,30.87,30.89,30.89,30.89,30.89,30.89,30.89,30.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4481,32.61,32.61,32.61,32.61,32.61,32.61,32.61,32.57,32.57,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1253,34.16,34.16,34.16,34.16,34.16,34.16,34.16,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [57]:
column_names = [f'col{i}' for i in range(1, 81)]

# 각 로우의 col1부터 col80까지의 값들을 리스트 형식으로 Temp 열에 저장합니다.
data_augmented['Temp'] = data_augmented[column_names].values.tolist()

In [58]:
data_augmented.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x,Temp
0,33.79,33.79,33.79,33.77,33.77,33.77,33.77,33.77,33.77,33.77,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[33.79, 33.79, 33.79, 33.77, 33.77, 33.77, 33...."
1,33.71,33.71,33.71,33.71,33.73,33.73,33.73,33.73,33.73,33.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,"[33.71, 33.71, 33.71, 33.71, 33.73, 33.73, 33...."
2,35.09,35.09,35.09,35.09,35.09,35.09,35.07,35.07,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,"[35.09, 35.09, 35.09, 35.09, 35.09, 35.09, 35...."
3,31.51,31.51,31.51,31.51,31.47,31.47,31.47,31.47,31.47,31.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,"[31.51, 31.51, 31.51, 31.51, 31.47, 31.47, 31...."
4,33.03,33.03,33.03,33.03,33.05,33.05,33.05,33.05,33.05,33.05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[33.03, 33.03, 33.03, 33.03, 33.05, 33.05, 33...."

In [59]:
data = data_augmented[['sentiment_x','Temp']]
data

      sentiment_x                                               Temp
0             1.0  [33.79, 33.79, 33.79, 33.77, 33.77, 33.77, 33....
1             4.0  [33.71, 33.71, 33.71, 33.71, 33.73, 33.73, 33....
2             3.0  [35.09, 35.09, 35.09, 35.09, 35.09, 35.09, 35....
3             5.0  [31.51, 31.51, 31.51, 31.51, 31.47, 31.47, 31....
4             1.0  [33.03, 33.03, 33.03, 33.03, 33.05, 33.05, 33....
...           ...                                                ...
3891          0.0  [34.25, 34.25, 34.25, 34.25, 34.25, 34.23, 34....
4932          0.0  [29.87, 29.87, 29.87, 29.87, 29.87, 29.87, 29....
2848          0.0  [30.87, 30.87, 30.87, 30.89, 30.89, 30.89, 30....
4481          0.0  [32.61, 32.61, 32.61, 32.61, 32.61, 32.61, 32....
1253          0.0  [34.16, 34.16, 34.16, 34.16, 34.16, 34.16, 34....

[24500 rows x 2 columns]

In [60]:
x_train = data['Temp']
y_train = data['sentiment_x']

## Valid data

In [45]:
group2

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col73,col74,col75,col76,col77,col78,col79,col80,sentiment_x,Temp
466,34.84,34.84,34.84,34.84,34.84,34.84,34.84,34.84,34.84,34.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[34.84, 34.84, 34.84, 34.84, 34.84, 34.84, 34...."
1303,32.11,32.11,32.11,32.11,32.09,32.09,32.09,32.09,32.07,32.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,"[32.11, 32.11, 32.11, 32.11, 32.09, 32.09, 32...."
3348,34.05,34.05,34.05,34.05,34.05,34.05,34.07,34.07,34.07,34.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[34.05, 34.05, 34.05, 34.05, 34.05, 34.05, 34...."
9524,29.43,29.43,29.41,29.41,29.41,29.41,29.41,29.41,29.41,29.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[29.43, 29.43, 29.41, 29.41, 29.41, 29.41, 29...."
5959,33.37,33.33,33.33,33.33,33.33,33.34,33.34,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[33.37, 33.33, 33.33, 33.33, 33.33, 33.34, 33...."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6434,34.03,34.03,34.03,34.03,34.05,34.05,34.05,34.05,34.03,34.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[34.03, 34.03, 34.03, 34.03, 34.05, 34.05, 34...."
6475,31.47,31.47,31.47,31.47,31.45,31.45,31.45,31.45,31.47,31.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[31.47, 31.47, 31.47, 31.47, 31.45, 31.45, 31...."
737,34.63,34.63,34.63,34.65,34.65,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[34.63, 34.63, 34.63, 34.65, 34.65, 0.0, 0.0, ..."
1586,33.59,33.57,33.57,33.57,33.57,33.59,33.59,33.59,33.59,33.57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[33.59, 33.57, 33.57, 33.57, 33.57, 33.59, 33...."
330,35.27,35.27,35.27,35.27,35.27,35.27,35.27,35.27,35.27,35.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"[35.27, 35.27, 35.27, 35.27, 35.27, 35.27, 35...."

In [46]:
column_name = [f'col{i}' for i in range(1, 81)]

# 각 로우의 col1부터 col80까지의 값들을 리스트 형식으로 Temp 열에 저장합니다.
group2['Temp'] = group2[column_names].values.tolist()

In [47]:
group2 = group2[['sentiment_x','Temp']]

In [48]:
x_valid = group2['Temp']
x_valid

466     [34.84, 34.84, 34.84, 34.84, 34.84, 34.84, 34....
1303    [32.11, 32.11, 32.11, 32.11, 32.09, 32.09, 32....
3348    [34.05, 34.05, 34.05, 34.05, 34.05, 34.05, 34....
9524    [29.43, 29.43, 29.41, 29.41, 29.41, 29.41, 29....
5959    [33.37, 33.33, 33.33, 33.33, 33.33, 33.34, 33....
                              ...
6434    [34.03, 34.03, 34.03, 34.03, 34.05, 34.05, 34....
6475    [31.47, 31.47, 31.47, 31.47, 31.45, 31.45, 31....
737     [34.63, 34.63, 34.63, 34.65, 34.65, 0.0, 0.0, ...
1586    [33.59, 33.57, 33.57, 33.57, 33.57, 33.59, 33....
330     [35.27, 35.27, 35.27, 35.27, 35.27, 35.27, 35....
Name: Temp, Length: 1121, dtype: object

In [49]:
y_valid = group2['sentiment_x']

In [50]:
test = data_test[['Temp','sentiment_x']]
x_test = test['Temp']
y_test = test['sentiment_x']

In [61]:
print(x_train.shape, x_valid.shape, y_train.shape, y_valid.shape)
print(x_test.shape,y_test.shape)

(24500,) (1121,) (24500,) (1121,)
(2567,) (2567,)

In [62]:
import pickle

In [63]:
with open('x_train.pkl', 'wb') as f:
    pickle.dump(x_train, f)

with open('y_train.pkl', 'wb') as f:
    pickle.dump(y_train, f)

with open('x_valid.pkl', 'wb') as f:
    pickle.dump(x_valid, f)

with open('y_valid.pkl', 'wb') as f:
    pickle.dump(y_valid, f)

with open('x_test.pkl', 'wb') as f:
    pickle.dump(x_test, f)

with open('y_test.pkl', 'wb') as f:
    pickle.dump(y_test, f)